<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

{{!-- google captcha --}}
  <script src="https://www.google.com/recaptcha/api.js" async defer></script>


<link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.5.0/css/all.css'
	integrity='sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU' crossorigin='anonymous'>

<div class="">
	<div class="container d-flex justify-content-center">
		<div class="row">
			<div class="card">
				<div class="card-header">
					<strong>Login</strong>
				</div>
				<div class="card-body">
					{{#if signupSuccess}}
					<h4 style="text-align: center; color: green;">Signup Successfull Login Now</h4>
					{{/if}}
					<form name="my_form" id="my_form">
						<div class="row">
							<div class="col">
								<span class="profile-img">
									<i class='fas fa-user-circle' style='font-size:120px'></i>
								</span>
							</div>
						</div>
						<div class="row">
							<div class="col">
								<hr> <!-- other content  -->
							</div>
						</div>
						<span id="invalid" class="text-danger d-flex justify-content-center"
                        style="display: none !important;">Invalid Username or password</span>
	<span id="invalid2" class="text-danger d-flex justify-content-center"
                        style="display: none !important;"> password Incorrect please check again</span>
						<div class="row">
							<div class="col">
								<div class="form-group">
									<div class="input-group mb-3">
										<div class="input-group-prepend">
											<span class="input-group-text" id="basic-addon1">
												<i class='fas fa-user-shield'></i>
											</span>
										</div>
										<input class="form-control" placeholder="Email" id="email" name="email"
											type="email" autofocus>
									</div>
								</div>
								<div class="form-group">
									<div class="input-group mb-3">
										<div class="input-group-prepend">
											<span class="input-group-text" id="basic-addon1">
												<i class='fas fa-user-secret'></i>
											</span>
										</div>
										<input class="form-control" placeholder="Password" id="password" name="password"
											type="password">
									</div>
								</div>
								<div class="form-group">
									<button type="submit" class="btn btn-lg btn-success btn-block submit">Login</button>
									
								</div>
							</div>
						</div>
						 
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
 <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
<script>


	$(document).ready(function () {


console.log("sdkfj")



  $("#my_form").validate({
            rules: {
				password:{
                      required:true,
					  minlength:3
				}
			}
  })



		$("#my_form").submit(function (e) {
			console.log('jhgjh')
			e.preventDefault()
			var form_data = $(this).serialize();
			console.log("data is", form_data)
			$.ajax({
				url: '/login',
				method: 'post',
				data: form_data,
				success: (response) => {
					if (response.status == 3) {
						console.log("no user")
						$('#invalid').show()
					}
					else if(response.status==2){
						$('#invalid2').show()
					}
					else if(response.type=="recruiter")
					{
						window.location.href='/captcha'
console.log("its recriter")
					}
					else if(response.type=='employee'){
						window.location.href="/captcha"
console.log("employee")
					}
					else if(response.type=='admin')
					{
						window.location.href='/'
					}
					
				}


			})
		})

	});


</script>












<style>
	body {
		background-color: #F9F9F9;

	}

	.container {
		margin-top: 2%;
	}

	.card-header {
		padding: 5px 15px;
	}

	.profile-img {
		width: 96px;
		height: 96px;
		margin: 0 auto 10px;
		display: block;
		-moz-border-radius: 50%;
		-webkit-border-radius: 50%;
		border-radius: 50%;
	}
</style>