

<!-- Container / Start -->
<div class="container">
<div class="alert alert-primary" role="alert">
You need to Upgrade to Premium Membership to access this feature
</div>


<!-- Container / Start -->
<div class="container">

	<div class="sixteen columns">
		<h3 class="margin-bottom-20">HireMe Pricing Plan</h3>
	</div>
	
	<!-- Plan #1 -->
	<div class="plan color-1 one-third column">
		<div class="plan-price">
			<h3>HireMe Basic Free Plan</h3>
			<span class="plan-currency">₹
</span>
			<span class="value">Free</span>
			
		</div>
		<div class="plan-features">
			<ul>
				<li>One Time Fee</li>
				<li>This Plan Excludes chat acess</li>
				<li>Can add or make resume</li>
				<li>Job browse access</li>
                <li>Doesn't have access to apply Job</li>
			</ul>
			<a class="button" href="#"><i class="fa fa-shopping-cart"></i> Current Plan</a>
		</div>
	</div>

	<!-- Plan #2 -->	
	<div class="plan color-2 one-third column">
		<div class="plan-price">
			<h3>HireMe exclusive plan</h3>
			<span class="plan-currency">₹</span>
			<span class="value">199</span>
		</div>
		<div class="plan-features">
            
			<ul>
				<li>Life time Premium access</li>
				<li>Unlimited Job posting for Recruiters </li>
				<li>Chat Access- Chat with recruites or employees</li>
				<li>15 days Job post Validity</li>
                <li>Employees Have unlimited Job apply</li>
			</ul>
			<a class="button" href="/checkout"><i class="fa fa-shopping-cart"></i> Upgrade Now</a>
		</div>
	</div>
			
	<!-- Plan #3 -->
	{{!-- <div class="plan color-1 one-third column">
		<div class="plan-price">
			<h3>Enterprise</h3>
			<span class="plan-currency">$</span>
			<span class="value">99</span>
		</div>
		<div class="plan-features">
			<ul>
				<li>One Time Fee</li>
				<li>This Plan Includes 4 Jobs</li>
				<li>2 Highlighted Job Posts</li>
				<li>Posted For 90 Days</li>
			</ul>
			<a class="button" href="#"><i class="fa fa-shopping-cart"></i> Add to Cart</a>
		</div>
	</div> --}}

</div>
<!-- Container / End -->

<br>
<br>

	

	<!-- Plan #4 -->
	

</div>
<!-- Container / End -->



<!-- Footer
================================================== -->
<div class="margin-top-10"></div>

<div id="footer">
	<!-- Main -->
	<div class="container">

		<div class="seven columns">
			<h4>About</h4>
			<p>Morbi convallis bibendum urna ut viverra. Maecenas quis consequat libero, a feugiat eros. Nunc ut lacinia tortor morbi ultricies laoreet ullamcorper phasellus semper.</p>
			<a href="#" class="button">Get Started</a>
		</div>

		<div class="three columns">
			<h4>Company</h4>
			<ul class="footer-links">
				<li><a href="#">About Us</a></li>
				<li><a href="#">Careers</a></li>
				<li><a href="#">Our Blog</a></li>
				<li><a href="#">Terms of Service</a></li>
				<li><a href="#">Privacy Policy</a></li>
				<li><a href="#">Hiring Hub</a></li>
			</ul>
		</div>
		
		<div class="three columns">
			<h4>Press</h4>
			<ul class="footer-links">
				<li><a href="#">In the News</a></li>
				<li><a href="#">Press Releases</a></li>
				<li><a href="#">Awards</a></li>
				<li><a href="#">Testimonials</a></li>
				<li><a href="#">Timeline</a></li>
			</ul>
		</div>		

		<div class="three columns">
			<h4>Browse</h4>
			<ul class="footer-links">
				<li><a href="#">Freelancers by Category</a></li>
				<li><a href="#">Freelancers in USA</a></li>
				<li><a href="#">Freelancers in UK</a></li>
				<li><a href="#">Freelancers in Canada</a></li>
				<li><a href="#">Freelancers in Australia</a></li>
				<li><a href="#">Find Jobs</a></li>

			</ul>
		</div>

	</div>

	<!-- Bottom -->
	<div class="container">
		<div class="footer-bottom">
			<div class="sixteen columns">
				<h4>Follow Us</h4>
				<ul class="social-icons">
					<li><a class="facebook" href="#"><i class="icon-facebook"></i></a></li>
					<li><a class="twitter" href="#"><i class="icon-twitter"></i></a></li>
					<li><a class="gplus" href="#"><i class="icon-gplus"></i></a></li>
					<li><a class="linkedin" href="#"><i class="icon-linkedin"></i></a></li>
				</ul>
				<div class="copyrights">©  Copyright 2015 by <a href="#">NVT Company</a>. All Rights Reserved.</div>
			</div>
		</div>
	</div>

</div>

<!-- Back To Top Button -->
<div id="backtotop"><a href="#"></a></div>

</div>
<!-- Wrapper / End -->

<!-- Scripts
================================================== -->
<script src="scripts/jquery-2.1.3.min.js"></script>
<script src="scripts/custom.js"></script>
<script src="scripts/jquery.superfish.js"></script>
<script src="scripts/jquery.themepunch.tools.min.js"></script>
<script src="scripts/jquery.themepunch.revolution.min.js"></script>
<script src="scripts/jquery.themepunch.showbizpro.min.js"></script>
<script src="scripts/jquery.flexslider-min.js"></script>
<script src="scripts/chosen.jquery.min.js"></script>
<script src="scripts/jquery.magnific-popup.min.js"></script>
<script src="scripts/waypoints.min.js"></script>
<script src="scripts/jquery.counterup.min.js"></script>
<script src="scripts/jquery.jpanelmenu.js"></script>
<script src="scripts/stacktable.js"></script>
<script src="scripts/headroom.min.js"></script>



</body>
</html>