    <!-- Slider
        ================================================== -->
        <div class="fullwidthbanner-container">
            <div class="fullwidthbanner">
                <ul>

                    <!-- Slide 1 -->
                    <li data-fstransition="fade" data-transition="fade" data-slotamount="10" data-masterspeed="300">

                        <img src="images/banner-01.jpg" alt="">

                        <div class="caption title sfb" data-x="0" data-y="195" data-speed="400" data-start="800" data-easing="easeOutExpo">
                            <h2>Hire Talented employees</h2>
                        </div>

                        <div class="caption text sfb" data-x="0" data-y="270" data-speed="400" data-start="1200" data-easing="easeOutExpo">
                            <p>Hire highly skilled employees Now <br>who want to hire you.</p>
                        </div>

                        <div class="caption sfb" data-x="0" data-y="400" data-speed="400" data-start="1600" data-easing="easeOutExpo">
                            <a href="my-account.html" class="slider-button">Get Started</a>
                        </div>
                    </li>

                    <!-- Slide 2 -->
                    <li data-transition="slideup" data-slotamount="10" data-masterspeed="800">
                        <img src="images/banner-02.jpg" alt="">

                        <div class="caption title sfb" data-x="center" data-y="195" data-speed="400" data-start="800" data-easing="easeOutExpo">
                            <h2>Hire great hourly employees</h2>
                        </div>

                        <div class="caption text align-center sfb" data-x="center" data-y="270" data-speed="400" data-start="1200" data-easing="easeOutExpo">
                            <p>Work Scout is most trusted job board, connecting the world's <br> brightest minds with resume database loaded with talents.</p>
                        </div>

                        <div class="caption sfb" data-x="center" data-y="400" data-speed="400" data-start="1600" data-easing="easeOutExpo">
                            <a href="add-job.html" class="slider-button">Hire</a>
                            {{!-- <a href="browse-jobs.html" class="slider-button">Work</a> --}}
                        </div>
                    </li>

                </ul>
            </div>
        </div>



        


        


        <!-- Recent Posts -->
      
{{#if userfound.premium}}

  <div class="container">
            <div class="sixteen columns">
                <h3 class="margin-bottom-25">Current Plan</h3>
            </div>

  <div class="plan color-2 one-third column">
                <div class="plan-price">
                    <h3>Premium User</h3>
                    <span class="plan-currency">₹</span>
                    <span class="value">199/-</span>
                </div>
                <div class="plan-features">
                    <ul>
                        <li>One Time Fee</li>
                        <li>This Plan Includes Unlimited Job posting</li>
                        <li>post unlimited offers</li>
                        <li>view employers contact</li>
                    </ul>
                    {{!-- <a class="button" href="/checkout"><i class="fa fa-shopping-cart"></i> Upgrade Now</a> --}}
                </div>
            </div>


{{else}}
<div class="container">
            <div class="sixteen columns">
                <h4>You are Not a Premium User please Upgrade to Experience full access</h4>
                <h3 class="margin-bottom-25">Job Plans & Pricing</h3>
            </div
            <!-- Plan #1 -->
            <div class="plan color-1 one-third column">
                <div class="plan-price">
                    <h3>Free Plan</h3>
                    <span class="plan-currency">$</span>
                    <span class="value">FREE</span>

                </div>
                <div class="plan-features">
                    <ul>
                        <li>Trial Pack</li>
                        <li>This Plan Includes 1 Job Posting</li>
                        <li>no unlimited job postings</li>
                        <li>can't see employers phonenumber</li>
                    </ul>
                    <a class="button" href="#"><i class="fa fa-shopping-cart"></i> Add to Cart</a>
                </div>
            </div>

            <!-- Plan #2 -->
            <div class="plan color-2 one-third column">
                <div class="plan-price">
                    <h3>Company</h3>
                    <span class="plan-currency">₹</span>
                    <span class="value">199/-</span>
                </div>
                <div class="plan-features">
                    <ul>
                        <li>One Time Fee</li>
                        <li>This Plan Includes Unlimited Job posting</li>
                        <li>post unlimited offers</li>
                        <li>view employers contact</li>
                    </ul>
                    <a class="button" href="/checkout"><i class="fa fa-shopping-cart"></i> Upgrade Now</a>
                </div>
            </div>
{{/if}}
            
        </div>



        
        <!-- Container / End -->
         

        <!-- Footer
        ================================================== -->
        <div class="margin-top-55"></div>

        <div id="footer">
            <!-- Main -->
            <div class="container">

                <div class="seven columns">
                    <h4>About</h4>
                     <p> HireMe is an Online Job portal for recruiters and employees which is developed On Nodejs platform and currently in Demo Run... :) <br>
              
              Project Build and Pusblished By © AjayPradeep. <br>

             ping  <a href="http://www.ajaypradeep.ga">www.ajaypradeep.ga</a>  for more
               </p>

                </div>

                

                

                
            </div>

            <!-- Bottom -->
            <div class="container">
                <div class="footer-bottom">
                    <div class="sixteen columns">
                        <h4>Follow Me</h4>
                        <ul class="social-icons">
                            <li><a class="facebook" href="#"><i class="icon-facebook"></i></a></li>
                            <li><a class="twitter" href="#"><i class="icon-twitter"></i></a></li>
                            <li><a class="gplus" href="#"><i class="icon-gplus"></i></a></li>
                            <li><a class="linkedin" href="#"><i class="icon-linkedin"></i></a></li>
                        </ul>
                        <div class="copyrights">©  Copyright 2021 by <a href="http://www.ajaypradeep.ga">Ajay Pradeep</a>. All Rights Reserved.</div>
                    </div>
                </div>
            </div>

        </div>

        <!-- Back To Top Button -->
        <div id="backtotop"><a href="#"></a></div>

    </div>
    <!-- Wrapper / End -->
    <!-- Scripts
    ================================================== -->
    <script src="scripts/jquery-2.1.3.min.js"></script>
    <script src="scripts/custom.js"></script>
    <script src="scripts/jquery.superfish.js"></script>
    <script src="scripts/jquery.themepunch.tools.min.js"></script>
    <script src="scripts/jquery.themepunch.revolution.min.js"></script>
    <script src="scripts/jquery.themepunch.showbizpro.min.js"></script>
    <script src="scripts/jquery.flexslider-min.js"></script>
    <script src="scripts/chosen.jquery.min.js"></script>
    <script src="scripts/jquery.magnific-popup.min.js"></script>
    <script src="scripts/waypoints.min.js"></script>
    <script src="scripts/jquery.counterup.min.js"></script>
    <script src="scripts/jquery.jpanelmenu.js"></script>
    <script src="scripts/stacktable.js"></script>
    <script src="scripts/headroom.min.js"></script>


 

    </div>


</body>
</html>
      




